# Folders in project directories
.gradle/
.settings/
bin/
build/
eclipse/
.classpath
.project
/*/*.txt

# Projects to ignore
/forge-base

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk